window {
    margin: 10px;
    border: 2px solid rgba(30, 30, 46, 0.5);
    background-color: rgba(30, 30, 46, 0.5);
}

#input {
    margin: 5px;
    color: #f4d0e1;
    border: 2px solid #282828;
    background-color: #282828;
}

#inner-box {
    margin: 5px;
    color: #f4d0e1;
    border: 2px solid #282828;
    background-color: #282828;
}

#outer-box {
    margin: 5px;
    color: #f4d0e1;
    border: 2px solid #282828;
    background-color: #282828;
}

#scroll {
    margin: 5px;
    color: #f4d0e1;
    border: 2px solid #282828;
    background-color: #282828;
}

#outer-box {
    margin: 5px;
    color: #f4d0e1;
    border: 2px solid #282828;
    background-color: #282828;
}
