;; This file contains basic utilities that I want to have available in
;; every clojure installation.
{:aliases
 {:humane-test-output
  {:extra-deps
   ;; I guess the most sensible way is to add the
   ;; "-A:humane-test-output" to `cider-clojure-cli-aliases` in a
   ;; `.dir-locals.el` file on a per-project basis.
   {pjstadig/humane-test-output {:mvn/version "0.11.0"}}
   :main-opts
   ["-e" "(require 'pjstadig/humane-test-output) (pjstadig.humane-test-output/activate!)"]}}}
